table, td, th {
    border-bottom: 1px solid black;
    border-left: 0ch;
    border-right: 0ch;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th{
      height: 50px;
  }

  td {
    height: 50px;
    vertical-align: middle;
    text-align: center;
  }

  tr:nth-child(even){
    background-color:#F1F1F1;
  }

  tr:hover{
    background-color:#4E84C2;
  }

  tr:first-child:hover{
    background-color:white;
  }


  .s-con{
    width: 100%;
    padding: 5%;
  }

  .s-name{
    font-weight: bold;
    margin-top: 3%;
  }

  .s-brand{
    font-size: 12px;
    margin-top: 1%;
  }

  .s-star{
    color: orange;
    margin-top: 2%;
  }

  .s-con:hover{
    box-shadow: 10px 10px 10px 10px #928b8b;  
    padding-bottom: 20px;
  }

